In [24]:
import pandas as pd
import numpy as np

In [2]:
# importing data
marketing = pd.read_csv("marketing.csv")

In [3]:
marketing.head()

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True

In [4]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 941.1+ KB

In [29]:
# Change datatype

# Booleans
marketing["converted"] = marketing["converted"].astype("bool")
marketing["is_retained"] = marketing["is_retained"].astype("bool")

# Dates
marketing["date_served"] = pd.to_datetime(marketing["date_served"])
marketing["date_subscribed"] = pd.to_datetime(marketing["date_subscribed"])
marketing["date_canceled"] = pd.to_datetime(marketing["date_canceled"])

In [30]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  datetime64[ns]
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10037 non-null  bool
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   datetime64[ns]
 9   date_canceled        577 non-null    datetime64[ns]
 10  subscribing_channel  1856 non-null   object
 11  is_retained          10037 non-null  bool
dtypes: bool(2), datetime64[ns](3), object(7)
memory usage: 803.9+ KB

In [31]:
marketing.head()

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,2018-01-01,House Ads,personalization,True,English,English,0-18 years,2018-01-01,NaT,House Ads,True
1,a100000030,2018-01-01,House Ads,personalization,True,English,English,19-24 years,2018-01-01,NaT,House Ads,True
2,a100000031,2018-01-01,House Ads,personalization,True,English,English,24-30 years,2018-01-01,NaT,House Ads,True
3,a100000032,2018-01-01,House Ads,personalization,True,English,English,30-36 years,2018-01-01,NaT,House Ads,True
4,a100000033,2018-01-01,House Ads,personalization,True,English,English,36-45 years,2018-01-01,NaT,House Ads,True

In [33]:
marketing[marketing["is_retained"] == False]

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
11,a100000040,2018-01-01,House Ads,personalization,True,English,English,19-24 years,2018-01-01,2018-01-18,House Ads,False
12,a100000041,2018-01-01,House Ads,personalization,True,Arabic,Arabic,24-30 years,2018-01-01,2018-02-22,House Ads,False
13,a100000042,2018-01-01,House Ads,personalization,True,English,English,0-18 years,2018-01-01,2018-03-09,House Ads,False
14,a100000043,2018-01-01,House Ads,personalization,True,English,English,19-24 years,2018-01-01,2018-02-18,House Ads,False
15,a100000044,2018-01-01,House Ads,personalization,True,Arabic,Arabic,24-30 years,2018-01-01,2018-03-03,House Ads,False
...,...,...,...,...,...,...,...,...,...,...,...,...
10028,a100007286,2018-01-17,Email,control,True,German,German,19-24 years,2018-01-17,2018-03-05,Email,False
10029,a100007287,2018-01-17,Email,control,True,German,German,24-30 years,2018-01-17,2018-02-14,Email,False
10030,a100007288,2018-01-17,Email,control,True,German,German,30-36 years,2018-01-17,2018-04-26,Email,False
10031,a100007289,2018-01-17,Email,control,True,German,German,36-45 years,2018-01-17,2018-01-27,Email,False
10032,a100007290,2018-01-17,Email,control,True,German,German,45-55 years,2018-01-17,2018-01-24,Email,False

In [42]:
# get convertion rate 
total =  marketing["user_id"].nunique()
converted = marketing[marketing["converted"] == True]["user_id"].nunique()

conversion_rate = converted/total
conversion_rate = round(conversion_rate * 100)

print(f"Le taux de conversion sur cette campagne marketing est de {conversion_rate}%\n")

Le taux de conversion sur cette campagne marketing est de 14%

In [51]:
# get subscribtion rate 
total_subscriber = marketing[marketing["converted"]]["user_id"].nunique()
total_subscriber

1030

In [ ]:
# customer segmentation